@import '../partials/mixins';

.triangle {
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -1;

  &.simple {
    background-image: url(./img/triangle.png);
    width: 470px;
    height: 400px;
    margin-right: 73.5px;
    margin-top: 463px;
    right: 0;
  }

  &.dotted {
    background-image: url(./img/triangle-dotted.png);
    width: 150.32px;
    height: 359.61px;
    margin-left: -15px;
    margin-top: -20px;
  }
}

@media (max-width: 991.98px) {
  .triangle {
    display: none;
  }
}
